In [3]:
import pandas as pd

In [1]:
a = [
    {"rank": 2, "name": "web2"}, 
    {"rank": 39, "name": "web39"}, 
    {"rank": 1, "name": "web1"}
]

In [2]:
sorted(a, reverse=True, key=lambda x:x["rank"])

[{'rank': 39, 'name': 'web39'},
 {'rank': 2, 'name': 'web2'},
 {'rank': 1, 'name': 'web1'}]

In [4]:
pd.DataFrame(a)

   rank   name
0     2   web2
1    39  web39
2     1   web1